.note_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    color: var(--primary, black);
  }
  
  .note_item {
    background: var(--secondary, white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-height: 10rem;
    overflow: hidden;
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .note_selected {
    padding: .5rem;
    text-align: left;
    color: var(--secondary, white);
    background: var(--primary, black);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    flex: 1;
  }
  
  .note_title_input,
  .note_content_input {
    width: 100%;
  }
  
  .note_title_input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 2rem;
    margin: 1rem 0;
  }

  .note_content_input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 1rem;
  }

  .create_note_button {
    margin: 1rem;
  }

  .note_date {
    width: 100%;
    text-align: center;
    display: block;
  }